{% extends 'base.html.twig' %}



   {% block content %}

     <div id="slide_principale">                           
                          
                          <div class="slide_principale_contenu">
                                          <img class="slide_principale" src="{{asset('assets/img/travailleur.jpg')}}" alt="">
                          </div>

                          <div class="slide_principale_contenu">
                                          <img class="slide_principale" src="{{asset('assets/img/travailleur2.jpg')}}" alt="">
                          </div>
                         
                       

            </div>                  


            <div id="rubrique_service_conteneur">                  
                     <div class="rubrique_service_contenu">SERVICE AUTOMOBILE COMPLET</div>
                     <div class="rubrique_service_contenu">Nous proposons une gamme complète de services de garage aux propriétaires de véhicules situés à Cergy et dans les environs. Le Garage V.Parot vous propose une large gamme de services automobiles.</div>
                     <div class="rubrique_service_contenu">
                                
                               {% for service in services  %}

                                <div class="rubrique_service_content">
                                                <img class="img_service" src="/upload/{{service.image}}" alt=""><br/>{{service.Nomservice}}      
                                </div>   
                

                         <!--
                                <div class="rubrique_service_content">
                                                <img class="img_service" src="{{asset('assets/img/service_2.jpg')}}" alt=""><br/>mecanique des voitures
                                </div>   

                                <div class="rubrique_service_content">
                                            <img class="img_service" src="{{asset('assets/img/service_3.jpg')}}" alt=""><br/>entretien régulier des véhicules
                                </div>   

                                <div class="rubrique_service_content">
                                            <img class="img_service" src="{{asset('assets/img/service_4.jpg')}}" alt=""><br/>Vente de véhicules
                                </div>  
                        
                        -->   
                                {% endfor  %}   

                               
                     </div>
            </div>

            <div id="rubrique_contact_conteneur">
                          
                     <div class="rubrique_contact_contenu">VOUS AVEZ UNE QUESTION</div>
                     <div class="rubrique_contact_contenu couleur"><a href="{{path('message_contact')}}">NOUS CONTACTER</a></div>
 
            </div>


            <div id="rubrique_temoignage_conteneur">

                      <div class="rubrique_temoignage_conteneur">
                              NOTRE MISSION <br/><br/>
                              Moderne et parfaitement équipé, le Garage Parrot entretient vos véhicules et propose également des occasions toutes marques garanties. Il assure également le diagnostic et la réparation toutes marques de vos véhicules.
                              Dans notre garage, patrons et collaborateurs ont un contact direct avec les clients, toujours plus nombreux. Nous privilégions une relation de confiance avec vous, et nous mettons tous notre savoir-faire à votre service afin de vous vous permettre d'obtenir sans délai et sans intermédiaire les renseignements et conseils dont vous avez besoin. Durant le temps d'immobilisation de votre véhicule dans notre garage, un véhicule de courtoisie est mis gratuitement à votre disposition.
                      </div>

                      <div class="rubrique_temoignage_conteneur">
                        <a href="{{path('temoignages')}}">VOS TEMOIGNAGES CLIENT</a> <br/><br/> 
                              {% for temoignage in temoignages  %}
                                        Nom: {{temoignage.nom}} Note: {{temoignage.note}}<br/>
                                        Commentaire:{{temoignage.commentaire}}<br/>
                                        <br/><br/>
                               {% endfor  %}  
                                           
                    </div>
            </div>



   {% endblock %}



