{% extends 'base.html.twig' %}

 {% block content %}
 
  <div id="form_vente">
  
        <section>
                        <form action="#" method="post">
                            
                                            <div class="form_vente_contenu">
                                            
                                                            <div class="form_vente_content">
                                                                <label for="" class="form-label">Fourchette de prix * (min)</label>
                                                                <input type="number" name="prixmin"  {% if prixMinimun is defined %} value="{{prixMinimun}}" {% endif %}   class="form-control">
                                                            </div>

                                                            <div class="form_vente_content">
                                                                <label for="" class="form-label">Fourchette de prix * (max) </label>
                                                                <input type="number" name="prixMax" {% if prixMaximun is defined %} value="{{prixMaximun}}" {% endif %} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                            </div>

                                                            <div class="form_vente_content">
                                                                <label for="" class="form-label">km parcouru (min)</label>
                                                                <input type="number" name="kmparcouruMin" {% if kmparcouruMin is defined %} value="{{kmparcouruMin}}" {% endif %} class="form-control" id="exampleInputPassword1">
                                                            </div>

                                                            <div class="form_vente_content">
                                                                <label for="" class="form-label">km parcouru (max) </label>
                                                                <input type="number" name="kmparcouruMax"  {% if kmparcouruMax is defined %} value="{{kmparcouruMax}}" {% endif %} class="form-control" id="exampleInputPassword1">
                                                            </div>

                                                            <div class="form_vente_content">
                                                            <label class="form-label" for="">Année de circulation (min)</label>
                                                            <input type="number" name="annecirculationmin" {% if annecirculationmin is defined %} value="{{annecirculationmin}}" {% endif %} class="form-control" id="exampleCheck1">
                                                        </div>

                                                            <div class="form_vente_content">
                                                            <label class="form-label" for="">Année de circulation (max)</label>
                                                            <input type="number" name="annecirculationmax" {% if annecirculationmax is defined %} value="{{annecirculationmax}}" {% endif %} class="form-control" id="exampleCheck1">
                                                        </div>
                                                    
                                            </div>
                                            
                                            <div class="form_vente_contenu">
                                            <button type="submit" class="btn btn-primary">Soumettre</button>
                                            </div>
                            
                            </form>
                                        {% if notification %}
                                        <div class="alert alert-info">{{notification}}</div>
                                        {% endif %}
            </section>


   </div>


          <section>
                        <div id="article_vente_contenu">  

                                        {% if post is not null %} 

                                                {% for voituretrie in voituretries  %}
                                                    <div class="article_vente_content">
                                                    Prix: {{voituretrie.prix}} Euros<br/><img class="img_service" src="/garageParrot/public/upload/{{voituretrie.image1}}" alt=""><br/>{{voituretrie.nom}}<br/>Année: {{voituretrie.anneecirculation}}<br/>Diesel<br/>{{voituretrie.kilometrage}}km<br/><br/><a href="{{path('ventes_details',{'id':voituretrie.id})}}">Détails</a>
                                                    </div>
                                                {% endfor %}           
                                        
                                        
                                        {% else %}
                                        
                                                {% for voituresvente in voituresventes  %}
                                                    <div class="article_vente_content">
                                                    Prix: {{voituresvente.prix}} Euros<br/><img class="img_service" src="/garageParrot/public/upload/{{voituresvente.image1}}" alt=""><br/>{{voituresvente.nom}}<br/>Année: {{voituresvente.anneecirculation}}<br/>Diesel<br/>{{voituresvente.kilometrage}}km<br/><br/><a href="{{path('ventes_details',{'id':voituresvente.id})}}">Détails</a>
                                                    </div>
                                                {% endfor %}
                                        
                                        {% endif %}
                        
                         </div>
          </section>
          


          

{% endblock %}
