{% extends 'base.html.twig' %}

 {% block content %}




  <div id="form_vente">
             
            <div class="form_vente_contenu">
                    <div class="form_vente_content">
                        <label for="" class="form-label">Fourchette de prix ></label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="form_vente_content">
                        <label for="" class="form-label">Fourchette de prix < </label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="form_vente_content">
                        <label for="" class="form-label">km parcouru ></label>
                        <input type="number" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="form_vente_content">
                        <label for="" class="form-label">km parcouru < </label>
                        <input type="number" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <div class="form_vente_content">
                        <label class="form-label" for="">Année de circulation</label>
                        <input type="number" class="form-check-input" id="exampleCheck1">
                    </div>


            </div>
              
            <div class="form_vente_contenu">
              <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>





           </div>



          <div id="article_vente_contenu">

               <div class="article_vente_content">
               Prix<br/><img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>


               <div class="article_vente_content">
               Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>


               <div class="article_vente_content">
                Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>

               <div class="article_vente_content">
                Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>


               <div class="article_vente_content">
                Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>

               <div class="article_vente_content">
                Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>

               <div class="article_vente_content">
                Prix<br/> <img class="img_service" src="{{asset('assets/img/service_1.jpg')}}" alt=""><br/>OPEL CORSA 1.3 CDCI 75 CH DIESEL<br/>Année: 2008<br/>Diesel<br/>177220km<br/>4779E<br/><a href="{{path('ventes_details')}}">Détails</a>
               </div>

          </div>








          

{% endblock %}
