{% extends 'base.html.twig' %}

 {% block content %}


    <div id="contenu_1">

                                    <div class="contenant_1">
                                        TABLEAU CARACTERISTIQUE<br/><br/>                              
                                        Nom Marque et modèle : {{voiture.nom}}<br/><br/>
                                        Année de fabrication : {{voiture.anneecirculation}}<br/><br/>
                                        Type de carrosserie : {{voiture.carrosserie}}<br/><br/>
                                        Moteur : {{voiture.moteur}}<br/><br/>
                                        Transmission : {{voiture.transmission}}<br/><br/>
                                        Kilométrage : {{voiture.kilometrage}} <br/><br/>
                                        Prix : {{voiture.prix}} <br/><br/>
                                        Contact : {{voiture.contact}} <br/><br/>
                                    </div>


                                    <div class="contenant_1">
                                            GALLERIE
                                            <div class="content_1">
                                                            <div class="content_2">
                                                                    <div class="img_galerie_1">
                                                                        <img class="img_service" src="/upload/{{voiture.image1}}" alt="">
                                                                    </div>
                                                                    <div class="img_galerie_2">
                                                                         <img class="img_service" src="/upload/{{voiture.image2}}" alt="">
                                                                    </div>
                                                            </div>

                                                            <div class="content_2">
                                                                    <div class="img_galerie_3">
                                                                        <img class="img_service" src="/upload/{{voiture.image3}}" alt="">
                                                                    </div>
                                                                    <div class="img_galerie_4">
                                                                         <img class="img_service" src="/upload/{{voiture.image4}}" alt="">
                                                                    </div>
                                                           </div>
                                            </div>
                                </div>       
         </div>

        <div id="forum_discussion">

                   {% if notification %}
                   <div class="alert alert-info">{{notification}}</div>
                   {% endif %}

                   <div class="">
                       FORMULAIRE DE CONTACT
                   </div>

                 

                   <div class="">
                         {{form(form)}}
                   </div>
<!--
                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>

                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>

                   <div class=" message_couleur">
                    Nom: Arthur Prenom: Vange<br/>    
                    MESSAGE LECTEUR
                   </div>
-->
                   
        </div>





 {% endblock %}