<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap" rel="stylesheet">
       <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

   <link rel="stylesheet" href="{{asset('assets/css/boutiquefrancaise.css')}}">

    <script src="{{asset('assets/js/animation.js')}}"></script>

</head>
<body>
         <header>

            <div id="header_conteneur">

          

                    <div class="header_contenu"><img src="{{asset('assets/img/logo.jpg')}}" alt=""></div>                  
                    <div class="header_contenu">
                               
                             <div class="header_content">
                                <a href="{{path('acceuil')}}"> Accueil </a> | <a href="{{path('temoignages')}}"> Temoignages </a> | <a href="{{path('ventes')}}"> Vente de véhicules </a> | 
                                {% if app.user %} 
                                <a href="{{path('app_logout')}}"> Se deconnecter </a>  |
                                  <a href="{{path('espaceemployer')}}"> Mon espace </a>  
                                {% else %} 
                                <a href="{{path('app_login')}}"> Se connecter | </a>
                                 {% endif %}
                            </div>
                        
                   </div>

            </div>
          
        </header>         

  

           {% block content %}


        

            {% endblock %}
           
            <footer>

                <div id="footer_contenu">

                          <div class="footer_content"><a href="#">Adresse: 4 rue des gemeaux 95800</a></div>
                          <div class="footer_content"><a href="{{path('message_contact')}}">Nous contacter</a><br/><a href="#">0612785534</a></div>
                             <div class="footer_content">HORAIRES<br/>
                          
                           {% for horaire in horaires  %}
                           {{horaire.jour}}: {{horaire.programme}}<br/>
                           {% endfor %}  

                </div>


                </div>


            </footer>



            
      
</body>
</html>