{% extends 'base.html.twig' %}

{% block content %}


{% if notification %}
<div class="alert alert-info">{{notification}}</div>
{% endif %}

{% if notification2 %}
<div class="alert alert-info">{{notification2}}</div>
{% endif %}





  <div class="row">
              
               <div class="col-md-4">      
                                        <h1>Enregistrer une voiture</h1> 
                                        <form action="#" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nom de la voiture*</label>
                                            <input type="text" class="form-control"  name="nom_voiture" {% if voiture is defined %} value="{{voiture.nom}}" {% endif %} placeholder="Ex: OPEL CORSA">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Prix*</label>
                                            <input type="number" class="form-control" name="prix" min="0" max="100000000"  {% if voiture is defined %} value="{{voiture.prix}}" {% endif %} placeholder="Prix">                                    
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Année de circulation*</label>
                                            <input type="number" class="form-control" name="annee_circulation" min="0" max="100000000"  {% if voiture is defined %} value="{{voiture.anneecirculation}}" {% endif %} placeholder="Année circulation">
                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Kilometrage parcouru*</label>
                                            <input type="number" class="form-control" name="kilometrage" min="0" max="100000000" {% if voiture is defined %} value="{{voiture.kilometrage}}" {% endif %} placeholder="kilometrage">
                                        </div>

                                           <div class="form-group">
                                            <label for="exampleInputEmail1">Moteur*</label>
                                            <input type="text" class="form-control" name="moteur" {% if voiture is defined %} value="{{voiture.moteur}}" {% endif %} placeholder="type de moteur">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Transmission*</label>
                                            <input type="text" class="form-control" name="transmission" {% if voiture is defined %} value="{{voiture.transmission}}" {% endif %} placeholder="type de transmission">
                                        </div>

                                          <div class="form-group">
                                            <label for="exampleInputEmail1">Carrosserie*</label>
                                            <input type="text" class="form-control" name="carrosserie" {% if voiture is defined %} value="{{voiture.carrosserie}}" {% endif %} placeholder="type de carrosserie">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Contact*</label>
                                            <input type="text" class="form-control" name="contact" {% if voiture is defined %} value="{{voiture.contact}}" {% endif %}  placeholder="numero de téléphone">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Image 1</label>
                                            <input type="file" class="form-control" name="image1">
                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Image 2</label>
                                            <input type="file" class="form-control" name="image2">                                       
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Image 3</label>
                                            <input type="file" class="form-control" name="image3">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Image 4</label>
                                            <input type="file" class="form-control" name="image4">
                                        </div>

                                       {% if voiture is not defined %} <button type="submit" class="btn btn-primary">Soumettre</button>  {% endif %}

                                        {% if voiture is defined %}  <button type="submit" class="btn btn-primary">Mettre à jour</button>  {% endif %}
                                        </form>
               </div>


               <div class="col-md-8">
                        
                         <h1>Liste des voitures</h1> 

                              <div class="row product-container">
                                            {% for liste_des_voiture in liste_des_voitures  %}
                                                        <div class="col-md-1">                                                      
                                                        {{liste_des_voiture.id}}
                                                        </div>
                                                        <div class="col-md-5">                                                      
                                                          {{liste_des_voiture.nom}}
                                                        </div>
                                                        <div class="col-md-4">                                                      
                                                         {{liste_des_voiture.contact}}
                                                        </div>
                                                        <div class="col-md-1">                                                      
                                                        <a href="{{path('modifier_une_voiture',{'id':liste_des_voiture.id})}}">(0)</a>
                                                        </div>
                                                        <div class="col-md-1">                                                      
                                                         <a href="{{path('supprimer_une_voiture',{'id':liste_des_voiture.id})}}">(X)</a>
                                                        </div>
                                             {% endfor %}
                                        
                              </div>    
               </div>


     </div>



  {% endblock %}
